/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config
/bootstrap
/storage
artisan
.editorconfig
.env.example
.gitattributes
/.vscode
/public/js/global.js
phpunit.xml
server.php
webpack.mix.js
composer.lock
package-lock.json
.gitignore