.animal-details-top {
    margin-top: 1em;
    margin-bottom: 1em;

    .edit-button {
        padding-left: 0;
        padding-right: 0.25em;
    }

    form {
        display: inline-block;

        button {
            padding-left: 0.25em;
        }
    }
}

.tab-content {

    .tab-pane {
        background-color: white;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.175);
        border-top: 0;
    }

    .number-column {
        width: 15%;
    }

    .animal-images {
        width: 100%;

        .animal-image {
            margin-right: 1em;
            margin-bottom: 1em;
            float: left;

            a {
                height: 250px;
            }
        }
    }
}

.card-img {
    object-fit: contain;
    height: 200px;
    width: 200px;
}

.animal-badges {
    text-align: center;

    .badge {
        width: 150px;
    }
}

button.dropdown-toggle {
    background-color: white;
}

.animal-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}