// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~bootstrap/scss/bootstrap';
@import 'variables';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font-size: 1rem;
    background-color: #f0f0f0;
    letter-spacing: -0.03rem;

    #app a,
    #app button {
        text-decoration: none;
    }
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
    right: 0;
    z-index: 101;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .sidebar-sticky {
        position: relative;
        top: 0;
        padding-top: .5rem;
        overflow: auto;
        /* Scrollable contents if viewport is shorter than content. */
        height: auto;

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        ul.nav {
            flex-direction: row;
            flex-wrap: nowrap;

            li a.nav-link {
                font-weight: 500;
                color: #333;
                text-align: center;
                letter-spacing: -.05rem;

                p {
                    text-wrap: nowrap;
                }

                &:hover,
                &:active {
                    .feather {
                        color: inherit;
                    }
                }

                .feather {
                    margin-right: 4px;
                    color: #999;
                }

                &.active {
                    color: #007bff;
                    background-color: #e5e5e5;
                }
            }
        }
    }
}



@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    z-index: 100;
    padding: $fixed-top-height $gap-basic $gap-basic $gap-basic;
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: $fixed-top-height-desktop;
        /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .9);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.badge {
    font-size: 85%;
}

.bold {
    font-weight: bold;
}

#app>nav.fixed-top {
    background-color: rgb(19 153 72);
}

@include media-breakpoint-down(md) {
    #app>nav.fixed-top span.nav-link {
        display: flex;
        flex-grow: 1;
        justify-content: right;

        &.first {
            margin-left: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    nav.sidebar {
        bottom: 0;
        right: unset;

        .sidebar-sticky {
            height: calc(100vh - $fixed-top-height-desktop);
        }
    }
}

@include media-breakpoint-up(lg) {
    #app .sidebar .sidebar-sticky {
        ul li.nav-item a {
            text-align: left;
            margin-left: 5px;

            svg {
                vertical-align: middle;
            }

            p {
                display: inline;
                vertical-align: text-top;
            }
        }
    }
}

.table * {
    text-align: center;
}

.settings-wrapper input[type=text] {
    text-align: left;
}