.admin-menu-big-buttons {
    overflow: hidden;

    a {
        text-decoration: none;
        color: #000;

        .big-button {
            width: 23.75%;
            padding: 5rem 0;
            float: left;
            position: relative;
            margin-left: 1.66%;
            transition: all .2s ease;
            border: 2px solid #CCC;
            border-top: 20px solid #CCC;
            background-color: white;

            &.first {
                margin-left: 0;
            }

            &:hover {
                border-color: #999;
            }

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-family: 'Nunito', sans-serif;
                font-size: 1.5rem;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: -.05rem;
            }
        }
    }
}

.latest-animals {
    clear: left;
    margin-top: 2em;
}

.btn-outline-secondary {
    background-color: white;
}
