
.admin-menu-big-buttons {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.666%;

    a {
        text-decoration: none;
        color: #000;
        overflow: hidden;
        display: block;
        width: 49%;

        .big-button {
            display: block;
            float: left;
            padding: 1.5rem 0;
            position: relative;
            transition: all .2s ease;
            border: 2px solid #CCC;
            border-top: 20px solid #CCC;
            background-color: white;
            z-index: 100;
            margin-bottom: .5rem;
            width: 100%;

            &:hover {
                border-color: #999;
            }

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-family: 'Nunito', sans-serif;
                font-size: 1.5rem;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

.latest-animals {
    clear: left;
    margin-top: 1rem;

    h3 {
        text-align: center;
    }
    button {
        display: block;
        margin: 0 auto;
    }
}

.btn-outline-secondary {
    background-color: white;
}
